.app-container {
  background-color: #303446; /* Catppuccin Frappé Hintergrundfarbe */
  color: #c6d0f5; /* Catppuccin Frappé Textfarbe */
  min-height: 100vh;
  padding: 20px;
}

/*body {*/
/*  overflow: hidden;*/
/*}*/
